.profile {
    padding-top: 10vh;
    padding-bottom: 10vh;
    min-height: 100vh;
    width: 100%;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    box-sizing: inherit;
    /* overflow: hidden; */
    display: flex;
    align-items: center;
}

.profile__title{
    color: aliceblue;
    font-size: 24px;
    background-color: rgba(9, 176, 9, 0.338);
    opacity: 0.8;
    padding: 5px;
}

.profile__fullname{
    color: aliceblue;
    opacity: 0.5;
    font-size: 24px;
    margin: 10px auto;
}

.profile__info{
    color: aliceblue;
    opacity: 0.;
    font-size: 18px;
    margin: 10px auto;
}