<div class="home">

    <div class="container">
        <div class="home__hero">
            <span class="home__hero__title">ERLEBEN SIE EINEN UNGLAUBLICHEN FLUG ZUM <br> MARS IM NEUEN RAUMSCHIFF -
                <strong>AS2022</strong></span>

            <p class="home__hero__description">
                Beeilen Sie sich und kaufen Sie bis zum <br>25. Oktober ein Flugticket mit <strong>17%</strong> Rabatt
            </p>

            <div class="home__hero__btns-group">
                <button routerLink="flights" class="btns-group__btn-primary">
                    <p class="pi pi-prime"></p> JETZT KAUFEN
                </button>
                <button class="btns-group__btn">
                    <p class="pi pi-chevron-right"></p> MEHR
                </button>
            </div>
        </div>
    </div>

    <img class="home__mars-img" [src]="'../../assets/images/mars.png'" alt="">
    <span class="mars-img__description">Die Entfernung zum Mars beträgt ~ 55.000.000 km. <br> <strong>76,5
            Flugstunden</strong>
        <hr>
    </span>
    <img class="home__earth-img" [src]="'../../assets/images/earth.gif'" alt="">
</div>